<!DOCTYPE html>
<html>
<head>
<title>PSOC</title>
<!--
  / means the root of the current drive;

./ means the current directory;

../ means the parent of the current directory.

-->

<link rel="stylesheet" href="../style.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<!-- Navigation Bar -->
<div class="navbar">
  <a href="../index.html">Home</a>
  <a href="#">About Me</a>
  <a href="./projects.html">Projects</a>
  <a href="./contact.html">Contact Me</a>
</div>

<!-- The flexible grid (content) -->
<div class="row">
  
  <div class="side">
    <h2>About Me</h2>
    <br>
    <div class="testimg-big">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <p>Some more text </p>
    <br>
    <div class="testimg-small">Image</div><br>
    <div class="testimg-small">Image</div><br>
    <div class="testimg-small">Image</div>
  </div>


  <div class="main">
    <h2>TITLE HEADING</h2>
    <br>
    <div class="testimg-big">Image</div>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>TITLE HEADING</h2>
    <div class="testimg-big">Image</div>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>


</div>
</body>
</html>
